<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spudg.sentient">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Sentient">
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient" />
        <activity
            android:name=".LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient" />
        <activity
            android:name=".VisualiserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Sentient" />

        <receiver android:name=".RecordReminder">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>